* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #fae3f8;
}
.card {
  width: 640px;
  height: 400px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-perspective: 1200px;
  perspective: 1200px;
  transition: 1s;
}
.card:hover {
  transform: rotate(-5deg);
}
.card:hover .outside {
  transform: rotateY(-130deg);
}
.outside,
.inside {
  height: 100%;
  width: 50%;
  position: absolute;
  left: 50.1%;
}
.inside {
  background: linear-gradient(to right, #e7e7e7, #ffffff 30%);
  line-height: 3;
  padding: 0 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  left: 50%;
  overflow: hidden;
}
.outside {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: 1;
  transform-origin: left;
  transition: 2s;
  cursor: pointer;
}
.front,
.back {
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateX(0deg);
}
.front {
  background-color: #b0d5a2;
  /* here edited */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: centre;
  gap: 20px;

}

.front img{
  width: 80%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

.back {
  transform: rotateY(180deg);
  background: linear-gradient(to left, #e7e7e7, #ffffff 30%);
}



.outside p {
  font-size: 24px;
  text-transform: lowercase;
  margin-top: 30px;
  text-align: center;
  letter-spacing: 6px;
  color: #007515;
}


.inside p{
  text-align: center;
  white-space: pre-wrap;
  font-family: 'Schoolbell',serif;
  max-height: 220px;
  overflow-y: auto;
  padding-right: 10px;
  font-size: 16px;
  line-height: 1.6;
}

.back {
  display: flex;
  flex-direction:  column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px;

}

.back img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}